* {
  font-family: monospace;
  font-size: 12pt;
  color: #cdd6f4;
}

window#waybar {
  background: rgba(20, 20, 20, 0.7);
  border-bottom: 1px solid rgba(60, 60, 60, 0.8);
}

#clock {
  margin: 0 10px;
}

#battery, #network, #pulseaudio {
  padding: 0 10px;
}

#workspaces button {
  padding: 0 8px;
  color: #cdd6f4;
  background: transparent;
  border: none;
}

#workspaces button.focused {
  color: #ff3366;
  background: rgba(255, 255, 255, 0.1);
}

#workspaces button:hover {
  background-color: #4e4170;
  color: #d0d0d0;
}

/* AI Widget Styling */

#custom-ai {
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 5px;
  color: #6752a1;
}


/* Normal state */
#custom-ai.normal {
}

/* Live request - red with animation */
#custom-ai.live {
  color: #d0d0d0;  /* Catppuccin red */
}

/* Hover effect */
#custom-ai:hover {
  background-color: #4e4170;
  color: #d0d0d0;
}
